body{

background: url('../images/noise.png'), -moz-radial-gradient(center 260px 0deg, circle closest-side, #888 0%, #222 100%) no-repeat;

background: url('../images/noise.png'), -webkit-gradient(radial, center 250, 0, center 250, 300, from(#888), to(#222)) no-repeat;
background-color: #222;
}

h1{
font-family: 'Adamina' , Arial, serif;
font-size: 6em;
font-weight: normal;
margin: 12px 0px 30px;
color: #FFF;
text-align: center;
text-shadow: 0px 2px 1px #000;
}

h2{
color: #FFF;
font-family: Arial, serif;
font-weight: bold;
text-shadow: 0px -1px 1px #000;
}

p{
font-family: Arial, serif;
color: #CCC;
font-size: 1.3em;
line-height: 1.2em;
-webkit-column-count: 2;
-webkit-column-gap: 80px;
-webkit-column-rule: 1px solid #333;
-moz-column-count: 2;
-moz-column-gap: 80px;
-moz-column-rule: 1px solid #333;

}

#stage{
background: #DDD;

padding: 10px;

-webkit-box-shadow: inset 0px 0px 5px #000;
-moz-box-shadow: inset 0px 0px 5px #000;
border-radius: 20px;
-moz-border-radius: 20px;
list-style: none;
position: relative;
-webkit-user-select: none;

}



#stage > .placeholder > img {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
}

#stage .placeholder{
float: left;
width: 210px;
height: 160px;
margin: 12px;
}
#stage .photo{
	width: 190px;
	height: 140px;
	background: white;
	border: 10px solid white;
	
}

#stage .photo: hover{
	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,0.9);
	-moz-box-shadow: 0px 0px 15px rgba(0,0,0,0.9);
	cursor: pointer;

}



#stage .large_photo{
	width: 500px;
	height: 359px;

	z-index: 1000;
	-webkit-transform: rotate(-5deg);
	-moz-transform: rotate(-5deg);

	border: 15px solid #FFF;
	-webkit-box-shadow: 0px 0px 30px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 30px rgba(0,0,0,1);

	cursor: pointer;
}







